@import "tailwindcss";
/* *{
    color: #0062ff7e;
} */
 ::-webkit-scrollbar{
    display: none;
 }

 body {
    overflow-x: hidden;
    width: 100%;
    color: white;
    overscroll-behavior-y: none;
 }
 
 html {
    background-color: #000000;
 }