@import "tailwindcss";
/* *{
    color: #0062ff7e;
} */
 ::-webkit-scrollbar{
    display: none;
 }

 body {
    margin: 0;
    padding: 0;
    color: white;
 }

 html, body {
    overflow-x: hidden;
    width: 100%;
 }
 
 html {
    background-color: #000000;
 }